<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Puzzle Games | Logic Games | Classic games | Online Addictive Games</title>
<meta name="description" content="This game is inspired by classic minesweeper game. The objective of the game to clear a pumpkin field  without detonating any of the rotten pumpkins."/>
<meta name="keywords" content="Free Classic Game of Minesweeper, Halloween Games for kids, Logical Games for kids, Unlimites Puzzle Games for students, Brain and Puzzle Games"/>
<meta property="og:image" content="http://media.cookie.com/games/big/sweep_the_pumpkin.png"/>
<meta name="robots" content="index, follow" />
<link rel="shortcut icon" href="http://www.cookie.com/images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="http://www.cookie.com/css/globalNew.css?ver=1" type="text/css" />

<script type="text/javascript" src="http://www.cookie.com/js/external.js"></script>
<script type="text/javascript" src="http://www.cookie.com/js/internal.js"></script>

<!--[if IE]>
<style type="text/css" media="all">
@font-face {
 font-family: "Emma Sophia";
 src: url('/font/emmasophia.eot');
 src: url('/font/emmasophia.eot?#iefix') format('embedded-opentype');
}
</style>

<![endif]-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27135259-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>        
</head>
<body>
   
    <script language="javascript" type="text/javascript">
        var _compToBeLoaded = [];
        var _isBroadCasting = false;
        var _isGroupChatInitiated = false;
        function loadComponent(componentID, componentPath, widget, callBackFunction){
            // @TODO populate the appURL
            currentComponent = componentPath;
            if(widget != 'false'){
                widget = "true";
            }
            var andVal = $("#andVal").val();
            
            var ajxUrl = '/index.php?widget='+widget+andVal+'s='+componentPath+andVal+"ajax=yes";
            jQuery.ajax({
                    url: ajxUrl,
                    success: function(response) {
                        jQuery("#"+componentID).html(response);
                        //document.getElementById(componentID).innerHTML = response;
                        if(callBackFunction != ''){
                            eval(callBackFunction);
                        }
                    },
                    error: function(xhr) {
                        //alert('Error!  Status = ' + xhr.status);
                    }
            });
        }

        function loadModule(componentID, componentPath){
            var redirectUrl = '/index.php?widget=false&amp;s='+componentPath;
            window.location.href = redirectUrl;
        }
    </script>


     
<div id="background">

  <div id="centre">

     <div id="water_sand">
     <div id="bottom">

        <div id="wrapper">

            <div id="header" style="height:105px;">
            <div id="logo_birds">
              <div id="logo_container">
                <div id="logo">                    
                    <a href="http://www.cookie.com/"><img src="http://www.cookie.com/images/cookieLogo.png" alt="Logo" class="logo-class" width="166px" height="65px"/></a>
                    <!--a href="mailto:support@cookie.com"><div class="advertisement">Advertise with us</div></a-->
                </div>
              </div>
              <!--<div class="left"></div>
              <div class="right"></div>-->
            </div>
            <!--end logo birds-->

            <div class="absTopLinks" id="headerLinks">
                <ul class="text">
<li> <a title="TESTIMONIALS" href="http://www.cookie.com/user/comments/index.html">TESTIMONIALS</a></li>
<li class="white">|</li>
<li><a title="GAME HISTORY" href="http://www.cookie.com/kids/games/gamehistory.html">GAME HISTORY</a></li>
<li class="white">|</li>
<li><a title="FEEDBACK" target="_blank" href="https://www.surveymonkey.com/s/PVNLHTS">FEEDBACK</a></li>
<li class="white">|</li>
<li><a title="SIGN UP" href="http://www.cookie.com/register.html">SIGN UP</a></li>
<li class="white">|</li>
<li><a title="SIGN IN" href="http://www.cookie.com/login.html">SIGN IN</a></li>
<li style="margin-top:-2px;"><a href="javascript:void(0);" title="Bookmark this page" onclick="javascript:AddBookmark('Free Puzzle Games | Logic Games | Classic games | Online Addictive Games','http://www.cookie.com/kids/games/sweep-the-pumpkin.html');"><img src="http://www.cookie.com/images/bookmark.png"></a></li>
</ul>            </div>
            <!--end search blimp-->
          </div>
          <!--end header-->
                        <div id="menu_wrapper">
                <div class="newtag">
                                        <embed src="http://www.cookie.com/bin/swfs/newtag.swf" width="40" height="30" wmode="transparent"></embed>
                                    </div>
            <div id="main_menu">
              <ul>
                <li class="mm_home"><a href="http://www.cookie.com/" title='Home'>Home</a></li>
                <li class="mm_gamesSel"><a href="http://www.cookie.com/kids/games/viewallgames.html" title='Games'>Games</a></li>
                <li class="mm_stories"><a href="http://www.cookie.com/kids/stories/viewallstories.html" title='Stories'>Stories</a></li>
                <li class="mm_video"><a href="http://www.cookie.com/kids/video/viewallvideos.html" title='Videos'>Videos</a></li>
                <li class="mm_story"><a href="http://www.cookie.com/preschool.html" title='Preschool'>Preschool</a></li>
                <li class="mm_wrksht"><a href="http://www.cookie.com/kids/worksheet.html" title='Worksheets'>Worksheets</a></li>
                <li class="mm_art"><a href="http://www.cookie.com/kids/artandcraft.html" title='Arts & Crafts'>Arts & Crafts</a></li>
                <li class="mm_blog noborder"><a href="http://www.cookie.com/parents/blogs/index.html" title='Blog'>Blog</a></li>

              </ul>
            </div>
                <div class="clearAll"></div>
            <!--end main menu-->
            <!--end cart-->
          </div>    <div id="container" class="container">
        
<script type="text/javascript" language="javascript">
    
    function submitSignupForm() {

    username = $("#username").val();
    password = $("#password").val();
    if(username =='') {
        $("#usernameErrorDiv").show();
        $("#username").focus();
        return false;
    } else if(!isNaN(username)) {
        $("#usernameErrorDiv").html("<span style='color:red'>Please enter valid Username.</span>");
        $("#usernameErrorDiv").show();
        $("#username").focus();
        return false;
    } else {
        $("#usernameErrorDiv").hide();
    }
    if(password =='') {
        $("#passwordErrorDiv").show();
        $("#password").focus();
        return false;
    } else if(password.length<6) {
        $("#passwordErrorDiv").html("<span style='color:red'>Password should atleast have 6 characters</span>");
        $("#passwordErrorDiv").show();
        $("#password").focus();
        return false;
    } else {
        $("#passwordErrorDiv").hide();
    }
    var URL = "/index.php?s=user.login";
    $.ajax({
    url: URL,
    type: 'POST',
    data: { username: $("#username").val(), password: $("#password").val(), remember: $("#remember").val(), isAjax: 1 },
    success: function(b) {
        if(b=='success'){
            $("#SignInContainer").hide();
            $("#alpLearn").show();
            $("#alpLearn1").show();
            $("#SignInContainerBox").hide();
            $("#isUser").val('1');
            loadComponent('headerLinks','layout.headerLinks',true);

          } else {
            $("#errMsg").html('Invalid username/password');
          }

    }
    });
    return false;
    }
</script>

<input type="hidden" name="isUser" id="isUser" value="0" />
<div id="container">
    <div class="mainContent">
        <div class="contentWidth clearfix">
            <div class="home-content clearfix">

                <table border="0" id="contentTable"  cellpadding="0" cellspacing="0" width="980" align="center" >
                    <!-- START GameContent here-->
                    <tr>
                        <td id="swfContainer" valign="top" colspan="2" align="center" style="padding-left:auto; padding-right:auto; position:relative;">
                        <div id="getUserGameScore" class="userpointbox"></div>

                         <div id="overlayBack" style="position:absolute; background:url(http://www.cookie.com/images/overlay_trans.png);height:100%; width:980px; z-index:100; display: none;"></div>
                         
                         <div id="SignInContainer" style="position:absolute; background:url(http://www.cookie.com/images/overlay_trans.png);height:600px; width:952px; z-index:100; display:none; margin-left:14px;">
                            <div class="gmPointBox" style="margin-top:20px;">
                            <link rel="stylesheet" href="http://www.cookie.com/css/registration.css" type="text/css" />
                            <!--[if lt IE 7.]>
                            <script defer type="text/javascript" src="include/supersleight-min.js"></script>
                            <![endif]-->

                            <div class="pageSpace" id="loginpage" style="">
                                <div style="background:transparent; padding:10px; font-size:24px; width:700px; margin-bottom:5px; font-weight: bold;">To play this game you have to Sign In</div>
                                <div class="mnLgnBox" style="margin:0; width:655px; height:340px;">
                                    <div class="sbLgnBox" style="padding:0; height:340px;">
                                        <b style="color:red;" id="errMsg"></b>
                                        <form name="userlogin">
                                        <div class="userlogin_forOvrly">
                                            <div class="lgnBoxHdng">User Login</div>
                                            <div class="lgnBoxElements">
                                                <div class="ech_lgnBoxElements" style="margin:0">
                                                    <div class="lgnBoxElements_txt">Username</div>
                                                    <div class="lgnBoxElements_fld">

                                                        <div class="lgnBoxElnt_mdl"><input type="text" name="username" maxlength="50" id="username" style="width:250px; padding:8px 0 8px 11px;" value="" /></div>

                                                    </div>
                                                    <div class="clearAll"></div>
                                                    <div id="usernameErrorDiv" style="display:none; color: #FF0000; padding-left: 10px; text-align: left;">Please enter username</div>
                                                </div>
                                                <div class="ech_lgnBoxElements" style="margin:0 0 10px 0;">
                                                    <div class="lgnBoxElements_txt">Password</div>
                                                    <div class="lgnBoxElements_fld">

                                                            <div class="lgnBoxElnt_mdl"><input maxlength="50" type="password" name="password" id="password" style="width:250px; padding:8px 0 8px 11px;" value="" /></div>

                                                    </div>
                                                    <div class="clearAll"></div>
                                                    <div id="passwordErrorDiv" style="display:none;color: #FF0000; padding-left: 10px; text-align: left;">Please enter Password</div>
                                                </div>
                                            </div>
                                            <div class="remMe" style="margin:0">
                                                <input type="checkbox" maxlength="50" name="remember" id="remember" checked="checked" /> remember me on this computer
                                            </div>
                                            <div class="lgnBoxSubmit small">
                                            <button type="submit" id="submit" name="submit" onclick="return submitSignupForm();">Submit</button>
                                            </div>
                                            <input type="hidden" name="redUrl" value="">
                                            <div class="clearAll"></div>
                                            <div class="forgotPass" style="height:20px;"><a href="http://www.cookie.com/user/forgotPassword.html">Forgot your password?</a></div>
                                        </div>
                                        </form>
                                        <div class="lgnBox_right">
                                            <div class="lgnBoxHdng">Don't have an account?</div>
                                            <div class="lgnBoxPic"><a href="http://www.cookie.com/register.html"><img src="http://www.cookie.com/images/btn_crtaccnt.png" /></a></div>
                                        </div>
                                    <div class="clearAll"></div>
                                    </div>
                            </div>
                            </div>
                            </div>                        </div>
                         
                            <div id="swfGameContent" style="max-height:595px; position:relative;">
                                <div class="clearAll"></div>
                                <div id="alpLearn1" style="margin: 200px auto auto; height: 80px; z-index: 0; "></div>
                                <script type="text/javascript">
                                    var s = new SWFObject("/bin/swfs/main/loader2.swf","alphaLearn1","80","80","9");
                                    s.addParam("align","center");
                                    s.addParam("wmode","transparent");
                                    s.write("alpLearn1");
                                </script>
                                <div id="alpLearn" style="min-height: 400px; padding-top:10px; max-height: 595px; z-index: 10; margin-top: -280px; position:relative; ">
                                    <div><a href="http://www.macromedia.com/go/getflashplayer">Get the Flash Player</a> to see this player.</div>
<script type="text/javascript">
    var s1 = new SWFObject("/bin/sweep-the-pumpkin/index.swf?rand=d9f0c63f9ff86fd91abc8e85049c5e6d","alphaLearn","952","600","10");

    s1.addVariable("logoURL","/bin/swfs/cookieLogo.swf");
    s1.addParam("allowFullScreen","true");
    s1.addParam("align","center");
    s1.addParam("wmode","transparent");
    s1.addParam("mute","false");
    s1.useExpressInstall("/expressinstall.swf");
    s1.addVariable("xfile","");
    s1.addVariable("gamePath","/bin/sweep-the-pumpkin/");
    s1.addVariable("sfile","/api/slider?tag=default");
    s1.addVariable("gameName","Sweep the Pumpkin");
    s1.addVariable("gameId","362");
    s1.addVariable("homeURL","/");
    s1.addVariable("categoryURL","/games/viewallgames.html");
    s1.addVariable("gatewayURL","/remoting/gateway.php");
    s1.addVariable("shareUrl","/sharegame.html?game=sweep-the-pumpkin");
    s1.addVariable("gameSlug","sweep-the-pumpkin");
    s1.addVariable("commonSound","/bin/swfs/commonSounds.swf");
    s1.addVariable("overlay","/bin/swfs/overlay.swf");
    s1.addVariable("gameType","mcq");
    s1.addVariable("userId","");
    s1.addVariable("userName","Guest");
    s1.addVariable("team","arsoftech");
        s1.addVariable("lang","en");
    s1.addVariable("commonText","/bin/swfs/gameCommonTexts.xml");
    s1.addVariable("remoting","SweepThePumpkinRemoting");
        s1.addVariable("userRemoting",'Remoting_user');
    s1.write("alpLearn");
</script>                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- END GameContent here-->
                  
                    <!-- showing comments below -->
                    <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                      })();
                    </script>

                    <tr>
                        <td align="left" style="padding-left:10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="960" align="left" style="margin-top:12px;" >
                             <!--<tr>
                                  <td class="comment comment-heading" style="padding:0px 10px; margin-bottom:6px;">
                                                                     
                                  <div style="float:left; margin-bottom:4px;"><span class="but3"> <a href="javascript:void(0);" onClick="return embedGame();">Embed</a></span></div><div  style="display:none;float:right;text-align:left;" id="embed-option"> </div> </td>
                                </tr>-->
                                <tr>
                                    <td class="comment comment-heading" style="padding:5px 10px;">
                                      <div style="float:left; margin-bottom:4px;"><a href="javascript:void(0);" onClick="return embedGame();"><span class="but3">Embed</span></a></div>

                                         <div style="float: right; text-align: right; width: 627px;">
                                            <!-- AddThis Button BEGIN -->
                                            <div class="addthis_toolbox addthis_default_style ">
                                                <div style="float: left;"> <g:plusone></g:plusone> </div>
                                                <a class="addthis_button_facebook_like"></a>
                                                <a class="addthis_button_tweet"></a>
                                                <a class="addthis_counter addthis_pill_style"></a>                                                
                                                <span class="but1"><a href="http://www.cookie.com/sharegame.html?game=sweep-the-pumpkin">Share</a></span>
                                                <span class="but1"><a href="javascript:void(0);" onclick="addToFav(362);">Favorite</a></span>
                                                <span class="but1"><a href="https://www.surveymonkey.com/s/PVNLHTS" target="_blank">Feedback</a></span>
                                            </div>
                                           
                                            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?username=xa-4d0b4d1218f4029d&domready=1"></script>
                                            <!-- AddThis Button END -->
                                        </div>                                      
                                    </td>
                                </tr>

                                <tr style="display:none;float:left;text-align:left;" id="embed-option"></tr>

                                <tr>
                                    <td class="comment comment-heading" style="padding:5px 10px;">
                                        <div style="float:left;"> Sweep the Pumpkin                                         <div style="font-size:11px; margin-top:7px;">
                                            1<sup>st</sup> grade (6-7 yrs), 2<sup>nd</sup> grade (7-8 yrs)                                            
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="comment">
                                        <div style="padding:0 10px; margin-bottom:10px;">This game is inspired by classic minesweeper game. The objective of the game to clear a pumpkin field  without detonating any of the rotten pumpkins.</div>
                                        <div class="playWorksheet">Try <strong><a href="http://www.cookie.com/kids/worksheet.html#ABC_Crossword" title="ABC Crossword Worksheets">ABC Crossword Worksheets</a></strong> to practice more</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="puzzle-list" id="similarGames">
                                                <div class="clearfix">
       <h2 class="worksheet-head">More Online Kids Games</h2><div class="left-head-right"></div>
       <p class="rightlink"><a href="http://www.cookie.com/kids/games/viewallgames.html">More</a></p>
   </div>

   <div style="overflow:hidden">
       
<div class="games-list-box" onclick="window.location.href='/kids/games/rolling-ball.html'" onmouseover="this.style.background='#f7d727';" onmouseout="this.style.background='';">
       <div class="colorimgbox_new">
        <p><a href="http://www.cookie.com/kids/games/rolling-ball.html"><img src="http://media.cookie.com/games/big/rolling_ball.png" alt="Rolling Ball" title="Rolling Ball"/></a></p></div>
       <h4><a href="http://www.cookie.com/kids/games/rolling-ball.html">1<sup>st</sup> grade (6-7 yrs)</a></h4>
       <p class="txt"><a href="http://www.cookie.com/kids/games/rolling-ball.html">Boost your kids motor skills with this fun arcade game. This game is absolutely fabulous for your kids skill development.</a></p>
       <p class="playnow small">
        <button title="Play Now" onclick="location.href='/kids/games/rolling-ball.html';">Play Now</button>
       </p>
</div>
<div class="games-list-box" onclick="window.location.href='/kids/games/minus.html'" onmouseover="this.style.background='#f7d727';" onmouseout="this.style.background='';">
       <div class="colorimgbox_new">
        <p><a href="http://www.cookie.com/kids/games/minus.html"><img src="http://media.cookie.com/games/big/minus.png" alt="Minus" title="Minus"/></a></p></div>
       <h4><a href="http://www.cookie.com/kids/games/minus.html">1<sup>st</sup> grade (6-7 yrs)</a></h4>
       <p class="txt"><a href="http://www.cookie.com/kids/games/minus.html">This is an ideal maths game for teaching subtraction to preschool and kindergarten children.</a></p>
       <p class="playnow small">
        <button title="Play Now" onclick="location.href='/kids/games/minus.html';">Play Now</button>
       </p>
</div>
<div class="games-list-box" onclick="window.location.href='/kids/games/simple-sentences.html'" onmouseover="this.style.background='#f7d727';" onmouseout="this.style.background='';">
       <div class="colorimgbox_new">
        <p><a href="http://www.cookie.com/kids/games/simple-sentences.html"><img src="http://media.cookie.com/games/big/simple_sentences.png" alt="Simple Sentences" title="Simple Sentences"/></a></p></div>
       <h4><a href="http://www.cookie.com/kids/games/simple-sentences.html">1<sup>st</sup> grade (6-7 yrs)</a></h4>
       <p class="txt"><a href="http://www.cookie.com/kids/games/simple-sentences.html">This is an interesting preschool educational game. Kids learn not only "correct sentence formation" but also "correct pronunciation".</a></p>
       <p class="playnow small">
        <button title="Play Now" onclick="location.href='/kids/games/simple-sentences.html';">Play Now</button>
       </p>
</div>
<div class="games-list-box" onclick="window.location.href='/kids/games/length-measurement.html'" onmouseover="this.style.background='#f7d727';" onmouseout="this.style.background='';">
       <div class="colorimgbox_new">
        <p><a href="http://www.cookie.com/kids/games/length-measurement.html"><img src="http://media.cookie.com/games/big/length_measurement.png" alt="Length Measurement" title="Length Measurement"/></a></p></div>
       <h4><a href="http://www.cookie.com/kids/games/length-measurement.html">1<sup>st</sup> grade (6-7 yrs)</a></h4>
       <p class="txt"><a href="http://www.cookie.com/kids/games/length-measurement.html">This math game is teaching kids to compare length of an object. The kids learning is enhanced with the interactive practice lesson.</a></p>
       <p class="playnow small">
        <button title="Play Now" onclick="location.href='/kids/games/length-measurement.html';">Play Now</button>
       </p>
</div>
<div class="games-list-box" onclick="window.location.href='/kids/games/labeling.html'" onmouseover="this.style.background='#f7d727';" onmouseout="this.style.background='';">
       <div class="colorimgbox_new">
        <p><a href="http://www.cookie.com/kids/games/labeling.html"><img src="http://media.cookie.com/games/big/labeling.png" alt="Labeling" title="Labeling"/></a></p></div>
       <h4><a href="http://www.cookie.com/kids/games/labeling.html">1<sup>st</sup> grade (6-7 yrs)</a></h4>
       <p class="txt"><a href="http://www.cookie.com/kids/games/labeling.html">This is a picture labeling drag and drop exercises to practice and reinforce kids vocabulary.</a></p>
       <p class="playnow small">
        <button title="Play Now" onclick="location.href='/kids/games/labeling.html';">Play Now</button>
       </p>
</div>   </div>                                        </div>
                                        <div style="clear:both;height:20px;"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td >&nbsp;</td>
                    </tr>

                </table>
                </div>
            </div>
        </div>
 </div>

<script type="text/javascript">

    var URL = "/index.php?s=games.score&gameValue=0";
    $.ajax({
    url: URL,
    success: function(b) {
     $("#getUserGameScore").hide();
     $("#getUserGameScore").html(b);
     //alert($("#getUserGameScore").html());
    }
    });

    $.fn.preload = function() {
        this.each(function(){
            $('<img/>')[0].src = this;
        });
    }

    $(['/images/pnt_bg.png']).preload();

    function replyButton(){
    window.location.reload();
    }

    function replacer(key, value) {
        if (typeof value === 'number' && !isFinite(value)) {
            return String(value);
        }
        return value;
    }

    function manageScore(obj){
    //alert('hi from managscore function of js');
        //var isActive = $("#isActive").val();
	var isUser = $("#isUser").val();
        var signInCheck = 0;

        //alert('OBJECT >> gameId='+obj.gameId+' Score='+obj.score+' Status='+obj.status+' level='+obj.currentStage+ ' action='+obj.action);
        
        if(obj.gameId==381) // 381 - Body Part
           signInCheck = 1;

	if(obj.gameId==372 || obj.gameId==374) // 372 - Color Vowels, 374 - Rolling Cubes
           isUser = 1;

        if(obj.currentStage > signInCheck && isUser==0 && obj.action!='exitGame'){
            //$("#SignInContainer").show();
        }

        if(obj.action=='exitGame') {
            var URL = "/index.php?s=games.flashScore&gameId="+obj.gameId+"&scores="+obj.score+"&level="+obj.currentStage;
            $.ajax({
                url: URL,
                success: function(a) {
                    getUserGameScore(a);
                }
            });
        }

        if(obj.action=='gameEnd') {
            var URL = "/index.php?s=games.flashScore&gameId="+obj.gameId+"&scores="+obj.score+"&level="+obj.currentStage;
            //gameOverlay(URL);
            $.ajax({
                url: URL,
                success: function(a) {
                    getUserGameScore(a);
                }
            });
        }
    }

    function updateStatus(gameId, levelNumber, value, status, param){
        //var isActive = $("#isActive").val();
	var isUser = $("#isUser").val();

        //alert('updateStatus >>>> gameId='+gameId+'***Object='+levelNumber+'***score='+value+'***status='+status+'*******action='+param);
        if(gameId==380)
            var lifeLine = levelNumber;
        else
            var lifeLine = 0;

        if((param=='lessonEnd' || param=='signInRequired') && isUser==0){
            //$("#SignInContainer").show();
        }

        if(param=='gameEnd') {
            var value = JSON.stringify(value, replacer);
            var qryString = 'lifeline='+lifeLine+'&gameId='+gameId+'&gameValue='+value.toString();
            var URL = "/index.php?s=games.score&"+qryString;
            $.ajax({
                url: URL,
                success: function(a) {
                    getUserGameScore(a);
                }
            });
        }

        if(param=='exitGame') {

            if(value==0) {
                var URL = "/index.php?s=games.score&gameValue=0";
                gameOverlay(URL);

            } else if(gameId==364) { // 364 - Hook the fish
                var value = JSON.stringify(value, replacer);
                var qryString = 'gameId='+gameId+'&gameValue=['+value.toString()+']';
                var URL = "/index.php?s=games.score&"+qryString;
                $.ajax({
                    url: URL,
                    success: function(a) {
                        getUserGameScore(a);
                    }
                });

            } else {

                var value = JSON.stringify(value, replacer);

                if(gameId < 364){
                    var qryString = 'lifeline='+lifeLine+'&gameId='+gameId+'&gameValue=['+value.toString()+']';
                }else{
                    var qryString = 'lifeline='+lifeLine+'&gameId='+gameId+'&gameValue='+value.toString();
                }
                var URL = "/index.php?s=games.score&"+qryString;

                $.ajax({
                    url: URL,
                    success: function(a) {
                        getUserGameScore(a);
                    }
                });
            }
	   }
    }
    
    function updateScore(gameId, value){

        //alert('updateScore >>>> gameId='+gameId+'***score='+value);
        if(gameId < 1) {
            gameId = '362';
        }

        var value = JSON.stringify(value, replacer);
        var qryString = 'gameId='+gameId+'&gameValue='+value.toString();
        if(value.toString()=="[]"){
            var URL = "/index.php?s=games.score&gameValue=0";
            gameOverlay(URL);
        } else {
            var URL = "/index.php?s=games.score&"+qryString;
            $.ajax({
                url: URL,
                success: function(a) {
                    getUserGameScore(a);
                }
            });

        }
    }

    function getUserGameScore(gameContent){

        $("#overlayBack").show();
   
		if (($.browser.msie && parseInt($.browser.version) < 8) && (screen.width >1360) )  
		{ 
			
			 $('#overlayBack').css('height', $("#swfContainer").height()+10);
		} 
		else
		{
			      
				    $('#overlayBack').css('height', $("#swfContainer").height());
		}
		
        $("#getUserGameScore").html(gameContent);
        score = $("#gamepoint").html()*1 + $("#gamescore").html()*1;
        //alert('OldScore='+$("#gamepoint").html()+' NewScore='+$("#gamescore").html()+ ' Score='+score);
                $("#gamepoint").html($("#gamepoint").html()*1 + $("#gamescore").html()*1);
        $("#getUserGameScore").show();
        $("#alpLearn").addClass('overlayTrans');

    }

    function gameOverlay(URL){
        $.ajax({
            url: URL,
            success: function(b) {
                getUserGameScore(b);
            }
        });
    }

    
    function formatNumberLength(num, length) {
        var r = "" + num;
        while (r.length < length) {
            r = "0" + r;
        }
        return r;
    }

    function hidesigndiv(){
        $("#watch-actions-area-container").hide();
    }


    var sessCookie = readCookie("PHPSESSID");


    var Width = 0, Height = 0, r = 1000/625;

    function getIEVersionNumber() {
        var ua = navigator.userAgent;
        var MSIEOffset = ua.indexOf("MSIE ");

        if (MSIEOffset == -1) {
            return 0;
        } else {
            return parseFloat(ua.substring(MSIEOffset + 5, ua.indexOf(";", MSIEOffset)));
        }
    }
    function getHeight() {
        var myHeight = 0;
        if( typeof( window.innerWidth ) == 'number' ) {
            //Non-IE
            myHeight = window.innerHeight;
        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
            //IE 6+ in 'standards compliant mode'
            var ver = getIEVersionNumber();
            if (ver > -1) {
                if (ver >= 6.0)
                    myHeight = document.documentElement.clientHeight;
                else
                    myHeight = document.documentElement.clientHeight;
            }
        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
            //IE 4 compatible
            myHeight = document.body.clientHeight;
        }
        return myHeight;
    }
    function getWidth() {
        var myWidth = 0;
        if( typeof( window.innerWidth ) == 'number' ) {
            //Non-IE
            myWidth = window.innerWidth;
        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
            //IE 6+ in 'standards compliant mode'
            var ver = getIEVersionNumber();
            if (ver > -1) {
                if (ver >= 8.0)
                    myWidth = document.documentElement.clientWidth+17;
                else
                    myWidth = document.documentElement.clientWidth;
            }
        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
            //IE 4 compatible
            myWidth = document.body.clientWidth;
        }
        return myWidth;
    }
    function toggleHeight()
    {
        Height = getHeight();
        Width  = getWidth();
        Height = Height-68;
        Width  = Height*1000/625;
        if(Width > 952){
            document.getElementById("alphaLearn").height = 594;
            document.getElementById("alphaLearn").width  = 951;
        }else{
            document.getElementById("alphaLearn").height = Height;
            document.getElementById("alphaLearn").width  = Width;
        }

    }
    toggleHeight();
    function addToFav(val){
        var URL = "/index.php?s=user.addToFavorite&gameId="+val;
        $.ajax({
            url: URL,
            success: function(a) {
            }
        });
    }

     function embedGame(){
        jQuery('#embed-option').html('<td class="comment comment-heading" style="padding:5px 10px;"><textarea style="width:855px;height:24px; padding-top: 5px;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;" wrap="virtual" readonly="readonly" onclick="$(this).select();" ><iframe width="965" height="608" scrolling="no" src="http://www.cookie.com/games/embed/c3dlZXAtdGhlLXB1bXBraW4=" frameborder="0"></iframe></textarea></td>');
                jQuery('#embed-option').toggle();    }

    function closePointOverlay(){

     $("#divShowPoint").hide();
     window.location.href="/kids/games/viewallgames.html";
    }
</script>
    </div>
        <div class="maincontainer allgameslinks" id="footerContainer">
    <div id="content">
        <div id="learningGamesDiv">
            
<div class="ft-bg">
    <h2>KIDS LEARNING GAMES</h2>
    <div align="center" class="footerFilters">
        <a id="all" href="javascript:void(0);" onclick="javascript:ageGroupFilter('all');"><b>All</b></a> |
        <a id="3-5" href="javascript:void(0);" onclick="javascript:ageGroupFilter('3-5');">Pre K</a> |
        <a id="5-6" href="javascript:void(0);" onclick="javascript:ageGroupFilter('5-6')">K</a> |
        <a id="6-7" href="javascript:void(0);" onclick="javascript:ageGroupFilter('6-7')">1st Grade</a> |
        <a id="7-8" href="javascript:void(0);" onclick="javascript:ageGroupFilter('7-8')">2nd Grade</a>
    </div>

    <div class="footer-links clearfix">

                <p class="flink-box math-box">

            <span class="flink-head"><a href="http://www.cookie.com/kids/games/mathgames.html" title="MATH GAMES">MATH GAMES</a></span>
            <span class="flink-links">
                                    <a href="http://www.cookie.com/kids/games/12-months.html" title="12 Months" class="screenshot" rel="http://media.cookie.com/games/big/twelve_months.png">12 Months</a><br/>
                                    <a href="http://www.cookie.com/kids/games/add-numbers.html" title="Add Numbers" class="screenshot" rel="http://media.cookie.com/games/big/addNumbers.png">Add Numbers</a><br/>
                                    <a href="http://www.cookie.com/kids/games/color-addition.html" title="Color Addition" class="screenshot" rel="http://media.cookie.com/games/big/color_addition.png">Color Addition</a><br/>
                                    <a href="http://www.cookie.com/kids/games/color-subtraction.html" title="Color Subtraction" class="screenshot" rel="http://media.cookie.com/games/big/color_subtraction.png">Color Subtraction</a><br/>
                                    <a href="http://www.cookie.com/kids/games/learn-numbers.html" title="Learn Numbers" class="screenshot" rel="http://media.cookie.com/games/big/learn_numbers.png">Learn Numbers</a><br/>
                                    <a href="http://www.cookie.com/kids/games/learn-to-count.html" title="Learn to Count" class="screenshot" rel="http://media.cookie.com/games/big/learn_to_count.png">Learn to Count</a><br/>
                                    <a href="http://www.cookie.com/kids/games/length-measurement.html" title="Length Measurement" class="screenshot" rel="http://media.cookie.com/games/big/length_measurement.png">Length Measurement</a><br/>
                                    <a href="http://www.cookie.com/kids/games/minus.html" title="Minus" class="screenshot" rel="http://media.cookie.com/games/big/minus.png">Minus</a><br/>
                                    <a href="http://www.cookie.com/kids/games/pattern-match.html" title="Pattern Match" class="screenshot" rel="http://media.cookie.com/games/big/pattern_match.png">Pattern Match</a><br/>
                                    <a href="http://www.cookie.com/kids/games/quick-match.html" title="Quick Match" class="screenshot" rel="http://media.cookie.com/games/big/quick_match.png">Quick Match</a><br/>
                                    <a href="http://www.cookie.com/kids/games/spider-counting.html" title="Spider Counting" class="screenshot" rel="http://media.cookie.com/games/big/spider_count.png">Spider Counting</a><br/>
                                    <a href="http://www.cookie.com/kids/games/table-memory.html" title="Table Memory" class="screenshot" rel="http://media.cookie.com/games/big/table_memory.png">Table Memory</a><br/>
                                    <a href="http://www.cookie.com/kids/games/weekdays.html" title="Weekdays" class="screenshot" rel="http://media.cookie.com/games/big/week_days.png">Weekdays</a><br/>
                                    <a href="http://www.cookie.com/kids/games/what-number-missing.html" title="What Number Missing" class="screenshot" rel="http://media.cookie.com/games/big/what_number_missing.png">What Number Missing</a><br/>
                            </span>
            
        </p>
                <p class="flink-box math-box">

            <span class="flink-head"><a href="http://www.cookie.com/kids/games/languageeslefllessons.html" title="LANGUAGE (ESL/EFL) LESSONS">LANGUAGE (ESL/EFL) LESSONS</a></span>
            <span class="flink-links">
                                    <a href="http://www.cookie.com/kids/games/alphabet-matching.html" title="Alphabet Matching " class="screenshot" rel="http://media.cookie.com/games/big/alphabet_matching.png">Alphabet Matching </a><br/>
                                    <a href="http://www.cookie.com/kids/games/color-letter.html" title="Color by Letter" class="screenshot" rel="http://media.cookie.com/games/big/color_letter.png">Color by Letter</a><br/>
                                    <a href="http://www.cookie.com/kids/games/color-vowels.html" title="Color Vowels" class="screenshot" rel="http://media.cookie.com/games/big/color_vowels.png">Color Vowels</a><br/>
                                    <a href="http://www.cookie.com/kids/games/compound-words.html" title="Compound Words" class="screenshot" rel="http://media.cookie.com/games/big/compound_words.png">Compound Words</a><br/>
                                    <a href="http://www.cookie.com/kids/games/describing-words.html" title="Describing Words" class="screenshot" rel="http://media.cookie.com/games/big/describing_words.png">Describing Words</a><br/>
                                    <a href="http://www.cookie.com/kids/games/english-memory.html" title="English Memory" class="screenshot" rel="http://media.cookie.com/games/big/english_memory.png">English Memory</a><br/>
                                    <a href="http://www.cookie.com/kids/games/go-together.html" title="Go Together" class="screenshot" rel="http://media.cookie.com/games/big/go_together.png">Go Together</a><br/>
                                    <a href="http://www.cookie.com/kids/games/labeling.html" title="Labeling" class="screenshot" rel="http://media.cookie.com/games/big/labeling.png">Labeling</a><br/>
                                    <a href="http://www.cookie.com/kids/games/lead-the-way.html" title="Lead the Way" class="screenshot" rel="http://media.cookie.com/games/big/lead_the_way.png">Lead the Way</a><br/>
                                    <a href="http://www.cookie.com/kids/games/opposite-adjectives.html" title="Opposite Adjectives" class="screenshot" rel="http://media.cookie.com/games/big/opposite_adjectives.png">Opposite Adjectives</a><br/>
                                    <a href="http://www.cookie.com/kids/games/phonic-match.html" title="Phonic Match" class="screenshot" rel="http://media.cookie.com/games/big/phonic_match.png">Phonic Match</a><br/>
                                    <a href="http://www.cookie.com/kids/games/short-vowels.html" title="Short Vowels" class="screenshot" rel="http://media.cookie.com/games/big/short-vowels.png">Short Vowels</a><br/>
                                    <a href="http://www.cookie.com/kids/games/sight-words.html" title="Sight Words" class="screenshot" rel="http://media.cookie.com/games/big/sight_words.png">Sight Words</a><br/>
                                    <a href="http://www.cookie.com/kids/games/simple-sentences.html" title="Simple Sentences" class="screenshot" rel="http://media.cookie.com/games/big/simple_sentences.png">Simple Sentences</a><br/>
                            </span>
            
        </p>
                <p class="flink-box math-box">

            <span class="flink-head"><a href="http://www.cookie.com/kids/games/kidspuzzle.html" title="KIDS PUZZLE">KIDS PUZZLE</a></span>
            <span class="flink-links">
                                    <a href="http://www.cookie.com/kids/games/abc-jigsaw.html" title="ABC Jigsaw" class="screenshot" rel="http://media.cookie.com/games/big/abc_jigsaw.png">ABC Jigsaw</a><br/>
                                    <a href="http://www.cookie.com/kids/games/abc-words.html" title="ABC Words" class="screenshot" rel="http://media.cookie.com/games/big/abc_words.png">ABC Words</a><br/>
                                    <a href="http://www.cookie.com/kids/games/connect-pipe.html" title="Connect Pipe" class="screenshot" rel="http://media.cookie.com/games/big/connect_pipe.png">Connect Pipe</a><br/>
                                    <a href="http://www.cookie.com/kids/games/fun-maze.html" title="Fun Maze" class="screenshot" rel="http://media.cookie.com/games/big/fun_maze.png">Fun Maze</a><br/>
                                    <a href="http://www.cookie.com/kids/games/jigsaw-wonders.html" title="Jigsaw Wonders" class="screenshot" rel="http://media.cookie.com/games/big/jigsaw_wonders.png">Jigsaw Wonders</a><br/>
                                    <a href="http://www.cookie.com/kids/games/rhyme-time.html" title="Rhyme Time" class="screenshot" rel="http://media.cookie.com/games/big/rhyme_time.png">Rhyme Time</a><br/>
                                    <a href="http://www.cookie.com/kids/games/rolling-cubes.html" title="Rolling Cubes" class="screenshot" rel="http://media.cookie.com/games/big/rolling_cubes.png">Rolling Cubes</a><br/>
                                    <a href="http://www.cookie.com/kids/games/slider-puzzle.html" title="Sliding Puzzle" class="screenshot" rel="http://media.cookie.com/games/big/slidingPuzzle.png">Sliding Puzzle</a><br/>
                                    <a href="http://www.cookie.com/kids/games/stardoku.html" title="Stardoku" class="screenshot" rel="http://media.cookie.com/games/big/starDoku.png">Stardoku</a><br/>
                                    <a href="http://www.cookie.com/kids/games/tetris-mania.html" title="Tetris Mania" class="screenshot" rel="http://media.cookie.com/games/big/game_tetris.png">Tetris Mania</a><br/>
                                    <a href="http://www.cookie.com/kids/games/tic-tac-toe.html" title="Tic Tac Toe" class="screenshot" rel="http://media.cookie.com/games/big/tic_tac_toe.png">Tic Tac Toe</a><br/>
                                    <a href="http://www.cookie.com/kids/games/tricky-shuffler.html" title="Tricky Shuffler" class="screenshot" rel="http://media.cookie.com/games/big/trickyShuffler.png">Tricky Shuffler</a><br/>
                                    <a href="http://www.cookie.com/kids/games/us-map.html" title="US Map" class="screenshot" rel="http://media.cookie.com/games/big/us_map.png">US Map</a><br/>
                                    <a href="http://www.cookie.com/kids/games/web-puzzle.html" title="Web Puzzle" class="screenshot" rel="http://media.cookie.com/games/big/web_puzzle.png">Web Puzzle</a><br/>
                            </span>
            
        </p>
                <p class="flink-box math-box">

            <span class="flink-head"><a href="http://www.cookie.com/kids/games/fungames.html" title="FUN GAMES">FUN GAMES</a></span>
            <span class="flink-links">
                                    <a href="http://www.cookie.com/kids/games/air-hockey.html" title="Air Hockey" class="screenshot" rel="http://media.cookie.com/games/big/airHockey.png">Air Hockey</a><br/>
                                    <a href="http://www.cookie.com/kids/games/buried-treasure.html" title="Buried Treasure" class="screenshot" rel="http://media.cookie.com/games/big/buriedTreasure.png">Buried Treasure</a><br/>
                                    <a href="http://www.cookie.com/kids/games/cookie-man.html" title="Cookie Man" class="screenshot" rel="http://media.cookie.com/games/big/cookie_man.png">Cookie Man</a><br/>
                                    <a href="http://www.cookie.com/kids/games/hook-the-fish.html" title="Hook the Fish" class="screenshot" rel="http://media.cookie.com/games/big/hook_the_fish.png">Hook the Fish</a><br/>
                                    <a href="http://www.cookie.com/kids/games/hungry-frog.html" title="Hungry Frog" class="screenshot" rel="http://media.cookie.com/games/big/hungryFrog.png">Hungry Frog</a><br/>
                                    <a href="http://www.cookie.com/kids/games/jumping-monkey.html" title="Jumping Monkey" class="screenshot" rel="http://media.cookie.com/games/big/jumping_monkey.png">Jumping Monkey</a><br/>
                                    <a href="http://www.cookie.com/kids/games/number-mahjong.html" title="Number Mahjong" class="screenshot" rel="http://media.cookie.com/games/big/mahjong.png">Number Mahjong</a><br/>
                                    <a href="http://www.cookie.com/kids/games/pop-balloon.html" title="Pop a balloon" class="screenshot" rel="http://media.cookie.com/games/big/pop_a_balloon.png">Pop a balloon</a><br/>
                                    <a href="http://www.cookie.com/kids/games/rolling-ball.html" title="Rolling Ball" class="screenshot" rel="http://media.cookie.com/games/big/rolling_ball.png">Rolling Ball</a><br/>
                                    <a href="http://www.cookie.com/kids/games/space-blaster.html" title="Space Blaster" class="screenshot" rel="http://media.cookie.com/games/big/spaceBlaster.png">Space Blaster</a><br/>
                                    <a href="http://www.cookie.com/kids/games/spot-difference.html" title="Spot Difference" class="screenshot" rel="http://media.cookie.com/games/big/spot_difference.png">Spot Difference</a><br/>
                                    <a href="sweep-the-pumpkin.html" title="Sweep the Pumpkin" class="screenshot" rel="http://media.cookie.com/games/big/sweep_the_pumpkin.png">Sweep the Pumpkin</a><br/>
                                    <a href="http://www.cookie.com/kids/games/world-of-colors.html" title="World of Colors" class="screenshot" rel="http://media.cookie.com/games/big/world_of_colors.png">World of Colors</a><br/>
                            </span>
            
        </p>
                <p class="flink-box math-box">

            <span class="flink-head"><a href="http://www.cookie.com/kids/games/sciencelessonplans.html" title="SCIENCE LESSON PLANS">SCIENCE LESSON PLANS</a></span>
            <span class="flink-links">
                                    <a href="http://www.cookie.com/kids/games/animal-maze.html" title="Animal Maze" class="screenshot" rel="http://media.cookie.com/games/big/animal_maze.png">Animal Maze</a><br/>
                                    <a href="http://www.cookie.com/kids/games/animal-quiz.html" title="Animal Quiz" class="screenshot" rel="http://media.cookie.com/games/big/animal_quiz.png">Animal Quiz</a><br/>
                                    <a href="http://www.cookie.com/kids/games/human-body.html" title="Human Body" class="screenshot" rel="http://media.cookie.com/games/big/human_body.png">Human Body</a><br/>
                                    <a href="http://www.cookie.com/kids/games/jigsaw-safari.html" title="Jigsaw Safari" class="screenshot" rel="http://media.cookie.com/games/big/jigsaw_safari.png">Jigsaw Safari</a><br/>
                                    <a href="http://www.cookie.com/kids/games/transports.html" title="Transports" class="screenshot" rel="http://media.cookie.com/games/big/transports.png">Transports</a><br/>
                                    <a href="http://www.cookie.com/kids/games/wild-animals.html" title="Wild Animals" class="screenshot" rel="http://media.cookie.com/games/big/wild_animals.png">Wild Animals</a><br/>
                            </span>
            
        </p>
                
        <div class="clearboth"></div>
    </div>
</div>

<script type="text/javascript">
    this.screenshotPreview = function(){
        /* CONFIG */
        xOffset = 10;
        yOffset = 30;
        /* END CONFIG */
        jQuery("a.screenshot").hover(function(e){
            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br />" + this.t : "";
            jQuery("body").append("<p style='position:absolute' id='screenshot'><img src='http://www.cookie.com/kids/games/&quot;+&#32;this.rel&#32;+&quot;' alt='url preview' />"+ c +"</p>");
            jQuery("#screenshot")
            .css("top",(e.pageY - xOffset) + "px")
            .css("left",(e.pageX + yOffset) + "px")
            .fadeIn("fast");
        },
        function(){
            this.title = this.t;
            jQuery("#screenshot").remove();
        });
        jQuery("a.screenshot").mousemove(function(e){
            jQuery("#screenshot")
            .css("top",(e.pageY - xOffset) + "px")
            .css("left",(e.pageX + yOffset) + "px");
        });
    }

    function ageGroupFilter(range){
        var andVal = jQuery("#andVal").val();
        loadComponent('learningGamesDiv', 'games.learningGames'+andVal+'ageGroup='+range+'&cuPage='+'', true);
    }

    jQuery(document).ready(function(){
        screenshotPreview();
    });
</script>
        </div>

        <p class="other-links">
            Follow Us:&nbsp;
            <a href="http://twitter.com/cookiekidsgames" title="Twitter">Twitter</a>
            <span>|</span>
            <a href="http://www.facebook.com/cookiekidslearninggames" title="Facebook">Facebook</a>
            <span>|</span>
            <a href="http://www.youtube.com/gudlidotcom" title="Youtube">Youtube</a>
            <span>|</span>
            <a href="https://plus.google.com/112374763843113354008" title="Google+">Google+</a>
            <span>|</span>
            <a title="Testimonials" href="http://www.cookie.com/user/comments/index.html">Testimonials</a>
            <span>|</span>
            <a href="mailto:support@cookie.com" title="Advertise with us">Advertise with us</a>
            <span>|</span>
            <a href="http://www.cookie.com/cookieRecipe.html" title="Cookie Recipe">Cookie Recipe</a>
       
            <script type="text/javascript">
            if(!$.browser.webkit) {
             document.write('<span style=margin-right:2px;>|</span>');
            document.write('<a href="http://www.cookie.com/rssfeeds.html" title="RSS">RSS</a>');
            }
            </script>
            
        </p>
        <!-- Footer links -->
    </div>
</div>

<div id="footer_container">
    <div id="footer">
        <ul style="width:100%;">
            <li><a href="http://www.cookie.com/">Cookie.com</a> |</li>
            <li><a href="http://www.cookie.com/">Learning Games for Elementary School</a> |</li>
            <li><a href="http://www.cookie.com/">Online Kids Games</a> |</li>
            <li><a href="http://www.cookie.com/">Online Educational Games</a> |</li>
            <li><a href="http://www.cookie.com/">Math Games for Kids</a></li></ul>
           <ul> <li><a href="http://www.cookie.com/">ESL/ EFL Lessons</a> |</li>
            <li><a href="http://www.cookie.com/">Science Lesson Plans</a> |</li>
            <li><a href="http://www.cookie.com/">Fun and Puzzle Games</a> |</li>
            <li><a href="http://www.cookie.com/">Kids Educational Videos</a> |</li>
            <li><a href="http://www.cookie.com/">Kids Learning</a></li>

         </ul>
        <ul>
            <li>Cookie © 2013. All Rights Reserved.</li>
        </ul>
    </div>

    <div class="sepImg"></div>
</div>

</div></div></div></div></div>

<script type="text/javascript">

    /*function loadJS() {
        var deferredJs = document.createElement('script'); deferredJs.type = 'text/javascript'; deferredJs.async = true;
        deferredJs.src = '/js/external.js';
        var deferredJsElm = document.getElementsByTagName('script')[0]; deferredJsElm.parentNode.insertBefore(deferredJs, deferredJsElm);
    }





    // Mozilla, Opera and webkit nightlies currently support this event
    if ( document.addEventListener ) {
        // Use the handy event callback
        document.addEventListener( "DOMContentLoaded", loadJS, false );

        // If IE event model is used
    } else if ( document.attachEvent ) {
        // ensure firing before onload,
        // maybe late but safe also for iframes
        document.attachEvent( "onreadystatechange", loadJS );

    }*/

    </script>           
    <script language="javascript" type="text/javascript">
            jQuery(document).ready(function() {
                for (var index in _compToBeLoaded){
                    var component = _compToBeLoaded[index];
                    loadComponent(component.id, component.path);
                }
            });
    
    </script>
    
    
    <input type="hidden" value="&amp;" id="andVal"/> 
</body>
</html>
